<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <!-- <nav aria-label="breadcrumb">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard v1</li>
            </ol>
          </nav> -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
   
  <div class="row">
    <div class="col-md-4">
      <div class="card text-white bg-primary mb-3">
        <div class="card-header"><i class="fa fa-check-circle"></i> Users</div>
        <div class="card-body">
          <h5 class="card-title">New Members</h5>
          <p class="card-text"><i class="fa fa-users"> 200k +</i> </p>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card text-white bg-secondary mb-3">
        <div class="card-header"><i class="fa fa-check-circle"></i> Projects</div>
        <div class="card-body">
          <h5 class="card-title">Projects Numbers</h5>
          <p class="card-text"><i class="fa fa-briefcase" aria-hidden="true"> 320k +</i></p>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card text-white bg-success mb-3">
        <div class="card-header"><i class="fa fa-check-circle"></i> Notifications</div>
        <div class="card-body">
          <h5 class="card-title">Notifications Numbers</h5>
          <p class="card-text"><i class="fa fa-envelope" aria-hidden="true"> 200k +</i></p>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Admin Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Admin Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Admin Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Admin Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            
        </div>
    </div>
</div>