<div class="container vh-100">
    <div class="row justify-content-center  h-100">
        <div class="text-center">
            <img mat-card-image src="../assets/z-logo.png" alt="Logo">
            <h2>DPRMS</h2>
        <div class="card my-auto mx-auto mt-4 shadow" style="max-width: 400px;">
            <div class="card-body p-4">
                <!-- <div class="text-center">
                    <fa-icon [icon]="faLock" class="fa-3x"></fa-icon>
                </div> -->
                <div class="text-center">
                    <h2>Forgot Password</h2>
                </div>
                <p style="color: lightslategray;">Please enter your registered email where<br> we will send you the reset password link</p>
                <form >
                    <mat-form-field class="small-input" appearance="outline" style="width: 100%;">
                        <mat-label>Enter your email</mat-label>
                        <input matInput placeholder="pat@example.com" type="email" id="email" formControlName="email" [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
                    </mat-form-field>

                        <input type="submit" class="btn btn-primary w-100" value="Reset Password Link" name="">

                </form>
            </div>
            <div class="card-footer text-right">
                <small>Ohh I remember <a mat-button class="text-primary" routerLink="../login">Back to Login</a></small>
            </div>
        </div>
        </div>
    </div>
</div>