  <!-- Sidebar -->
  <div class=" border-right custom-sidebar" style="background-color: #191D88;" id="sidebar-wrapper" [ngClass]="status ? 'hide' : 'show'">
    <!-- Logo -->
    <div class="sidebar-logo text-center py-2">
      <img mat-card-image src="../assets/z-logo-bg.png" alt="Logo" class="logo-img">
      <h1 class="text-light">DPRMS</h1>
      <hr class="text-light">
    </div>

    <!-- Content Area with Background Image -->
    <div class="bg-image">
      <div class="list-group-flush">
        <a routerLink="/admin/home" mat-button class="text-light">
          <i class="fa fa-dashboard icon"> Dashboard</i> 
        </a><br/>
        <a routerLink="/admin/users" mat-button class="text-light">
          <i class="fa fa-users icon">  Users</i> 
        </a><br/>
        <a href="#" mat-button class="text-light">
          <i class="fa fa-commenting icon">  Notifications</i> 
        </a><br/>
        <a href="/admin/projects" mat-button class="text-light">
          <i class="fa fa-calendar icon">  Projects</i> 
        </a><br/>
        <a href="#" mat-button class="text-light">
          <i class="fa fa-check-circle icon">  Status</i> 
        </a>
        
      </div>
    </div>    
  </div>

    <!-- /#sidebar-wrapper -->
  


