<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Add User
   </button> -->

   <div class="container">
    <br/>
    <div class="d-flex justify-content-between">
      <!-- Left content here, if any -->
      <button mat-raised-button color="primary" data-bs-toggle="modal" data-bs-target="#myModal">
        <i class="fa fa-plus" aria-hidden="true"></i> Add User
      </button>
    </div>
    
  <br/>
    
       <!-- The Modal -->
       <div class="modal fade" id="myModal">
         <div class="modal-dialog">
           <div class="modal-content">
       
             <!-- Modal Header -->
             <div class="modal-header">
               <h4 class="modal-title">Add User</h4>
               <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
             </div>
       
             <!-- Modal body -->
             <div class="modal-body">
               <form [formGroup]="userForm">

                
                <div class="mb-3">
                  <mat-form-field class="small-input" appearance="outline">
                    <mat-label class="form-label">Project Name</mat-label>
                    <input matInput placeholder="Project name" class="form-control" formControlName="firstCtrl" required>
                </mat-form-field>
                <br/>

                    <label for="firstName" class="form-label">First Name </label>
                    <input type="text" formControlName="firstName" class="form-control" id="firstName">
                  </div>
                  <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name </label>
                    <input type="text" formControlName="lastName" class="form-control" id="lastName">
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email </label>
                  <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="phone" class="form-label">Phone </label>
                  <input type="text" formControlName="phone" class="form-control" id="phone">
              </div>
              <div class="mb-3">
                <label for="employeeId" class="form-label">Employee ID </label>
                <input type="text" formControlName="employeeId" class="form-control" id="employeeId">
            </div>
            <div class="mb-3">
                <label for="position" class="form-label">position </label>
                <select formControlName="position" class="form-control" id="position">
                    <option>yes</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="institutionName" class="form-label">institutionName </label>
                <select formControlName="institutionName" class="form-control" id="institutionName">
                    <option>yes</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="division" class="form-label">division </label>
                <select formControlName="division" class="form-control" id="division">
                    <option>yes</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">password </label>
                <input type="password" formControlName="password" class="form-control" id="password">
              </div>
              <div class="mb-3">
                  <label for="cpassword" class="form-label">cpassword </label>
                  <input type="cpassword" formControlName="cpassword" class="form-control" id="cpassword">
              </div>
    
               </form>
             </div>
       
             <!-- Modal footer -->
             <div class="modal-footer">
               <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
               <button type="submit" (click)="addUser()" [disabled]="this.userForm.invalid" class="btn btn-primary" data-bs-dismiss="modal">Register</button>
            </div>
       
           </div>
         </div>
       </div>
       <mat-card>
        <div class="table-responsive">
        <table class="table-hover table-sm display">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Employee ID</th>
              <th scope="col">Position</th>
              <th scope="col">Institution Name</th>
              <th scope="col">Division</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of userList; let i = index">
                <td>{{ i + 1}}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.employeeId }}</td>
                <td>{{ user.position }}</td>
                <td>{{ user.institutionName }}</td>
                <td>{{ user.division }}</td>
              <td>
                <div class="nav-item dropdown">
                  <button type="button" class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Action
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editUser" (click)="editUser(user.id, user)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button></li>
                    <li><button type="button" class="dropdown-item" (click)="updateLockStatus(user.id, false)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button></li>
                    <li><button type="button" class="dropdown-item" (click)="updateLockStatus(user.id, true)"><i class="fa fa-check-circle" aria-hidden="true"></i> Activate</button></li>
                    <!-- <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                  </ul>
                </div>
              </td>
      
            </tr> 
            
          </tbody>
        </table>
       </div>
      </mat-card>
    </div>


   
   <!-- The Modal -->
   <div class="modal fade" id="myModal">
     <div class="modal-dialog">
       <div class="modal-content">
   
         <!-- Modal Header -->
         <div class="modal-header">
           <h4 class="modal-title">Add User</h4>
           <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
         </div>
   
         <!-- Modal body -->
         <div class="modal-body">
           <form [formGroup]="userForm">
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name </label>
                <input type="text" formControlName="firstName" class="form-control" id="firstName">
              </div>
              <div class="mb-3">
                <label for="lastName" class="form-label">Last Name </label>
                <input type="text" formControlName="lastName" class="form-control" id="lastName">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email </label>
              <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Phone </label>
              <input type="text" formControlName="phone" class="form-control" id="phone">
          </div>
          <div class="mb-3">
            <label for="employeeId" class="form-label">Employee ID </label>
            <input type="text" formControlName="employeeId" class="form-control" id="employeeId">
        </div>
        <div class="mb-3">
            <label for="position" class="form-label">position </label>
            <select formControlName="position" class="form-control" id="position">
                <option>yes</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="institutionName" class="form-label">institutionName </label>
            <select formControlName="institutionName" class="form-control" id="institutionName">
                <option>yes</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="division" class="form-label">division </label>
            <select formControlName="division" class="form-control" id="division">
                <option>yes</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">password </label>
            <input type="password" formControlName="password" class="form-control" id="password">
          </div>
          <div class="mb-3">
              <label for="cpassword" class="form-label">cpassword </label>
              <input type="cpassword" formControlName="cpassword" class="form-control" id="cpassword">
          </div>

           </form>
         </div>
   
         <!-- Modal footer -->
         <div class="modal-footer">
           <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
           <button type="submit" (click)="addUser()" [disabled]="this.userForm.invalid" class="btn btn-primary" data-bs-dismiss="modal">Register</button>
        </div>
   
       </div>
     </div>
   </div>





   <!-- The Modal -->
   <div class="modal fade" id="editUser">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit User</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form [formGroup]="userForm">
           <div class="mb-3">
               <label for="firstName" class="form-label">First Name </label>
               <input type="text" formControlName="firstName" class="form-control" id="firstName">
             </div>
             <div class="mb-3">
               <label for="lastName" class="form-label">Last Name </label>
               <input type="text" formControlName="lastName" class="form-control" id="lastName">
           </div>
           <div class="mb-3">
             <label for="email" class="form-label">Email </label>
             <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp">
           </div>
           <div class="mb-3">
             <label for="phone" class="form-label">Phone </label>
             <input type="text" formControlName="phone" class="form-control" id="phone">
         </div>
         <div class="mb-3">
           <label for="employeeId" class="form-label">Employee ID </label>
           <input type="text" formControlName="employeeId" class="form-control" id="employeeId">
       </div>
       <div class="mb-3">
           <label for="position" class="form-label">position </label>
           <select formControlName="position" class="form-control" id="position">
               <option>yes</option>
           </select>
       </div>
       <div class="mb-3">
           <label for="institutionName" class="form-label">institutionName </label>
           <select formControlName="institutionName" class="form-control" id="institutionName">
               <option>yes</option>
           </select>
       </div>
       <div class="mb-3">
           <label for="division" class="form-label">division </label>
           <select formControlName="division" class="form-control" id="division">
               <option>yes</option>
           </select>
       </div>
       <div class="mb-3">
           <label for="password" class="form-label">password </label>
           <input type="password" formControlName="password" class="form-control" id="password">
         </div>
         <div class="mb-3">
             <label for="cpassword" class="form-label">cpassword </label>
             <input type="cpassword" formControlName="cpassword" class="form-control" id="cpassword">
         </div>

          </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="submit" [disabled]="this.userForm.invalid" class="btn btn-primary" data-bs-dismiss="modal">Update</button>
       </div>
  
      </div>
    </div>
  </div>