<div class="container vh-100">
    <div class="row justify-content-center  h-100">
        <div class="text-center">
            <img mat-card-image src="../assets/z-logo.png" alt="Logo">
            <h2>DPRMS</h2>
            <div class="card my-auto mx-auto mt-4 shadow" style="max-width: 400px;">
                <div class="container">
                    <div class="row">
                      <div class="col-mt-2 col-mt-2">
                       
                          <div class="card-header">
                            Email Verification
                          </div>
                          <div class="card-body">
                            <p>{{ verificationMessage }}</p>
                            <button class="btn btn-primary" (click)="redirectToLogin()">Go to Login</button>
                          </div>
                        
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 
  
