
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  img{
    height: 8em;
    width: 12em;
    margin-left: -200;
  }

.bg-image {
  text-decoration: none;
}
.list-group-item-action.bg-dark.text-secondary {
  color: #ccc; /* Default text color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Smooth color transition on hover */
}

.list-group-item-action.bg-dark.text-secondary:hover {
  color: #fff; /* Text color on hover */
}

  #sidebar-wrapper {
    // border: 1px solid #000;
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group-flush {
    width: 15rem;
  }
  
  .list-group-flush a{
    margin-left: 2em;
  }
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }

  /* Add this CSS to your project's styles.css or a custom stylesheet */

  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
    .show
    {
      margin-left: 0!important;
    }
    .hide
    {
      margin-left: -15rem!important;
    }
  }
  @media (max-width: 767px) {
    
    .hide
    {
      margin-left: -0!important;
    }
  }