<div class="container">
  <br />
  <div class="d-flex justify-content-between">
    <!-- Left content here, if any -->
    <button routerLink="/admin/project-add" mat-mini-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-raised-button color="primary" data-bs-toggle="modal" data-bs-target="#reportModal">
      <mat-icon>
        summarize
      </mat-icon>Report
    </button>

    <!-- <button mat-raised-button color="primary" data-bs-toggle="modal" data-bs-target="#myModal">
        <i class="fa fa-plus" aria-hidden="true"></i> Add Project
      </button> -->
  </div>

  <br />

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Project</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form [formGroup]="projectForm">

            <div class="mb-3">
              <label for="projectName" class="form-label">Project Name </label>
              <input type="text" formControlName="projectName" class="form-control" id="projectName">
            </div>

            <div class="mb-3">
              <label for="projectManager" class="form-label">Project Manager </label>
              <input type="projectManager" formControlName="projectManager" class="form-control" id="projectManager"
                aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="projectSponsor" class="form-label">Project Sponsor </label>
              <input type="text" formControlName="projectSponsor" class="form-control" id="projectSponsor">
            </div>
            <div class="mb-3">
              <label for="projectVendor" class="form-label">Project Vendor </label>
              <input type="text" formControlName="projectVendor" class="form-control" id="projectVendor">
            </div>

            <div class="mb-3">
              <label for="institutionName" class="form-label">Institution Name </label>
              <select formControlName="institutionName" class="form-control" id="institutionName">
                <option>EGAZ</option>
                <option>ZRA</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">status </label>
              <select formControlName="status" class="form-control" id="status">
                <option>New</option>
                <option>Developing</option>
                <option>In use</option>
              </select>
            </div>
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="submit" (click)="addProject()" [disabled]="this.projectForm.invalid" class="btn btn-primary"
            data-bs-dismiss="modal">Register</button>
        </div>

      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped align-middle"
      id="first-tabel">
      <thead class="table-primary">
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Project Name</th>
          <th scope="col">Project Manager</th>
          <th scope="col">Project Sponsor</th>
          <th scope="col">Project Vendor</th>
          <th scope="col">Institution Name</th>
          <th scope="col">Status</th>
          <th scope="col">Created At</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projectList; let i = index">
          <td>{{ i + 1}}</td>
          <td>
            <div class="d-flex align-items-center ">

              <div class="ms-3 ">
                <p class="fw-bold mb-1 ">{{ project.projectName }}</p>
              </div>
            </div>
          </td>
          <td>{{ project.projectManager }}</td>
          <td>{{ project.projectSponsor }}</td>
          <td>
            <p class="fw-normal mb-1 ">{{ project.projectVendor }}</p>
          </td>
          <td>
            <p class="text-muted mb-0 ">{{ project.institutionName }}</p>
          </td>
          <td>
            {{ project.status }}
            <!-- <span class="badge badge-danger">Success</span> -->
          </td>
          <td>{{ formatTimestamp(project.createdAt) }}</td>

          <td>
            <!-- <div class="nav-item dropdown">
                <button type="button" class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Action
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                  <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editProject" (click)="editProject(project.id, project)"><i class="text-secondary fa fa-pencil" aria-hidden="true"></i> Edit</button></li>
                  <li><button type="button" class="dropdown-item" (click)="updateLockStatus(project.id, false)"><i class="text-danger fa fa-trash" aria-hidden="true"></i> Delete</button></li>
                  <li><button type="button" class="dropdown-item" (click)="updateLockStatus(project.id, true)"><i class="fa fa-check-circle" aria-hidden="true"></i> Activate</button></li>
                </ul>
              </div> -->
            <button type="button " class="btn btn-link btn-sm btn-rounded ">

              <a class="nav-link" data-bs-toggle="dropdown" mat-button style="text-decoration: none;" id="action-link">
                Action
                <span class="badge badge-warning navbar-badge"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

                <a class="dropdown-item" [routerLink]="['/admin/services', project.id]">
                  Comment now!
                  <span class="float-right text-muted text-sm"></span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/admin/projects">
                  Edit
                  <span class="float-right text-muted text-sm"></span>
                </a>
                <!-- <div class="dropdown-divider"></div>
                 <a class="dropdown-item" routerLink="/admin/projects" >
                   View TOR
                   <span class="float-right text-muted text-sm"></span>
                 </a> -->

              </div>

            </button>
          </td>

        </tr>

      </tbody>
    </table>
  </div>

</div>




<!-- The Modal -->
<div class="modal fade" id="editProject">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Project</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="projectForm">
          <div class="mb-3">
            <label for="projectName" class="form-label">Project Name </label>
            <input type="text" formControlName="projectName" class="form-control" id="projectName">
          </div>

          <div class="mb-3">
            <label for="projectManager" class="form-label">Project Manager </label>
            <input type="projectManager" formControlName="projectManager" class="form-control" id="projectManager">
          </div>
          <div class="mb-3">
            <label for="projectSponsor" class="form-label">Project Sponsor </label>
            <input type="text" formControlName="projectSponsor" class="form-control" id="projectSponsor">
          </div>
          <div class="mb-3">
            <label for="projectVendor" class="form-label">Project Vendor </label>
            <input type="text" formControlName="projectVendor" class="form-control" id="projectVendor">
          </div>

          <div class="mb-3">
            <label for="institutionName" class="form-label">institutionName </label>
            <select formControlName="institutionName" class="form-control" id="institutionName">
              <option>EGAZ</option>
              <option>ZRA</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="status" class="form-label">status </label>
            <select formControlName="status" class="form-control" id="status">
              <option>New</option>
              <option>Developing</option>
              <option>In use</option>
            </select>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="submit" [disabled]="this.projectForm.invalid" class="btn btn-primary"
          data-bs-dismiss="modal">Update</button>
      </div>

    </div>
  </div>
</div>



<!-- Report Generation Modal -->
<div class="modal fade" id="reportModal" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Project Report</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>

        <!-- <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->

      </div>
      <div class="modal-body">
        <!-- Institution input field -->
        <div class="form-group">
          <label for="institutionName">Institution Name</label>
          <input type="text" id="institutionName" class="form-control" [(ngModel)]="selectedInstitutionName"
            (ngModelChange)="calculateProjectCounts()">
        </div>
        <br>

        <!-- Button to generate the institution-specific report as a PDF -->
        <button type="button" mat-raised-button color="primary" (click)="generateInstitutionReport()">Generate
          Institution
          Report</button>


        <!-- Report content -->
        <div *ngIf="showInstitutionReport">
          <hr>
          <h3 class="titleReport"><b>{{ selectedInstitutionName }} Report </b></h3>
          <p>Number of Projects for {{ selectedInstitutionName }}: {{
            getProjectsCountForInstitution(selectedInstitutionName) }}</p>
          <p>Total Number of Working Projects: {{ workingProjectsCount }}</p>
          <p>Total Number of New Projects: {{ newProjectsCount }}</p>
          <p>Total Number of Developing Projects: {{ developingProjectCounts }}</p>
          <p>Total Number of Not Working Projects: {{ notWorkingProjectsCount }}</p>

          <!-- Table to display project details with pagination -->
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Created At</th>
                <th>Institution Name</th>
                <th>Project Manager</th>
                <th>Project Name</th>
                <th>Project Sponsor</th>
                <th>Project Vendor</th>
                <th>Project Status</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let project of selectedInstitutionProjects | paginate: { itemsPerPage: 5, currentPage: modalPage }; let i = index">
                <td>{{ (modalPage - 1) * 5 + i + 1 }}</td>
                <td>{{ project.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>{{ project.institutionName }}</td>
                <td>{{ project.projectManager }}</td>
                <td>{{ project.projectName }}</td>
                <td>{{ project.projectSponsor }}</td>
                <td>{{ project.projectVendor }}</td>
                <td class="badge badge-danger text-center">{{ project.status }}</td>
              </tr>
            </tbody>
          </table>


          <!-- Pagination controls -->
          <pagination-controls (pageChange)="modalPage = $event"></pagination-controls>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>